body {
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    line-height: 1.4;
    word-spacing:1.1pt;
    letter-spacing:0.2pt; font-family: Tahoma,Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
.container {
    width: 980px;
    margin: 20px auto;
}
/*Headings */
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:19pt; border-bottom: 3px solid #000;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}

code { font: 10pt Courier, monospace; }
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
hr { background-color: #ccc; }

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color:#000; }

/* Table */
table { margin: 1px 1px 20px 1px; text-align:left; width: 100%; border: 0px; border-collapse: collapse;}
th { border-bottom: 0;  font-weight: bold; }
td { border-bottom: 0; }
th,td { padding: 5px 10px; vertical-align: top }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;}
table.bordered {
    border: 3px solid #000000;
}
table.bordered th {
    border: 3px solid #000000;
    text-align: center;
}
table.bordered td {
    border: 3px solid #000000;
}
table.fields {
    font-size: 1em;
}
table.fields tr.label td {
    border-top: 3px solid #000;
    text-align: center;
    text-transform: uppercase;
    font-size: .6em;
    width: 50%;
}
table td.noborder {
    border: none;
}
/*hide various parts from the site

#header, #footer, #navigation, #rightSideBar, #leftSideBar
{display:none;}

*/