@import "elements.less";
html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  & > .container,
  & > .container-fluid {
    padding: 70px 15px 20px;
  }
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.color-red {
  color: red !important;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

@background:#EfEfEf;
@borderColor:#ddd;
.navbar-default.navbar-fixed-top {
  & > .container {
     width: auto !important;
  }
}
table.schedule-body {
  background: #fff;
  font-size: .85em;
  .date,.title {
    width: 10%;
    background: @background;
  }
  .date {
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    .week-day {
      font-size: 2em;
      display: inline-block;
      padding: 4px 7px;
      margin: 0 40px 10px;
      .border-radius(50px,50px,50px,50px);
      &.today {
        border: 2px solid;
      }
    }
    &.weekend {
      .week-day {
        color: red;
      }
    }
  }
  .hour{
    width: 5%;
    text-align: center;
    &.reserved {
      .transition(.5s);
      text-align: left;
      position: relative;
      padding: 0;
      i {
        font-size: 1.35em;
        margin-left: 5px;
      }
      .reserved-cell {
        white-space: nowrap;
        overflow: hidden;
        padding: 8px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 19;
        height: 100%;
        color:#000;
        text-shadow: 0 0 2px #FFF;
        a {
          color: #000;
        }

      }
      &.dayday {
        .reserved-cell {
          background: rgba(0,0,0,.25);
        }
      }
      .more-info {
        position: absolute;
        right: -2000px;
        top: 100%;
        background: #232323;
        color: #cecece;
        padding: 10px;
        z-index: 50;
        opacity: .95;
        border-radius: 0 0 5px 5px;
        display: block;
        width: 285px;
        .transition(.3s);
        a:not(.btn) {
          text-decoration: underline;
          &:hover {
            color:#fff;
          }
        }
        strong {
          color: #fff;
        }
        &:before {
          width: 10px;
          height: 10px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          display: block;
          top: -5px;
          content: '';
          background:#232323;
          right: 12px;
          margin-left: -5px;
        }
        .close {
          position: absolute;
          top: 12px;
          right: 12px;
          color: #fff;
        }
        a:not(.btn) {
          color: inherit;
        }

        .table {
          background: none;
          tr:first-child td {
            border-top: none;
          }
          td {
            background: none;
            border: inherit;
            padding:5px 0px;
          }
        }
        h5 {
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom:1px solid #aaa;
          .small {
            &:hover {
              color:#fff;
            }
          }
        }
      }
      &.active {
        .more-info {
          right: 0;
          left: auto;
          display: block;

        }
      }
    }
  }
  &.fixed{
    top:50px;
    position:fixed;
    width:auto;
    display:none;
    border:none;
    margin-top: 0;
    background: #fff;
    z-index: 55;
  }


  .activeHour {
    background: #000;
    color: #fff;
  }
  .hour.active {
    .activeHour;
  }
  .title {
    vertical-align: middle !important;
    .price {
      display: none;
      float: right;
    }
  }
  tr {
    .hour:hover,.hour.active {
      outline: 1px dashed rgba(0,0,0,.5);
      cursor: pointer;
    }
    .hour.setStart {
      border-left: 2px solid #C2C2C2;
    }
    &:nth-child(even) {
      .hour {
        background: darken(white,2%);
        &.active {
          .activeHour
        }
      }
      .title {
        background: darken(@background,5%);

      }
    }
    &:nth-child(even):hover,&:nth-child(odd):hover {
      & > td {
        background: darken(@background,10%);
        border-color: lighten(@background,5%);
        &.title {
          background: darken(@background,75%);
          color: lighten(@background,50%);
          .price {

          }
        }
        &.date {
          background: @background;
          border-bottom: 2px solid darken(@borderColor,15%);
        }
      }
      .hour {
        &.active {
          .activeHour
        }
      }
    }
    &.last {
      border-bottom: 2px dashed #B6B6B6;
    }
  }
}
#schedule {
  margin-top: 50px;
  margin-bottom: 50px;
  & > .alert {
    margin-bottom: 0;
  }
  .table_container {

    overflow: hidden;

    .table {
      margin-bottom: 0;
    }
  }
}
#reserveControl {
  bottom: -80px;
  .transition(.4s);
  &.visible {
    bottom:0;
  }
}
@media (max-width: 1359px) {
  table.schedule-body {
    font-size: 12px;
    & > tbody > tr > td,& > thead > tr >  th {
      padding: 4px;
      font-size: .85em;
      &.reserved.hour {
        padding: 0;
        .reserved-cell {
          padding: 4px;
        }
      }
    }
    .date {
      font-size: 1em;
    }
  }

}
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.ui-pnotify.stack-bottomright {
  top: auto;
}
.fa.green {
  color:green;
}
.fa.grey {
  color: #d3d3d3;
}

.fa.red {
  color: #FF694E;
}

.highcharts-container svg > text > tspan{
  display: none;
}
.ui-dialog {
  z-index: 2000 !important;
  .ui-dialog-content {
    width: auto !important;
  }
}
.loader {
  display: none;
  .spinner {
    width: 110px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    z-index: 1037;
    position: fixed;
    top: 0;
    background: #f8f8f8;
  }

  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
}

.ui-widget,.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-widget-content a.btn-primary {
  color:#fff;
}
.service_list_item {
  &:hover {
    cursor: pointer;
    td {
      background: #dedede;
    }
  }
  &.checked,&.checked:hover {
    td {
      background: #dff7c8;
    }
  }
}