
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10pt;
    line-height: 100%;
    height: 100%;
}
.clear, .clr {
    clear: both;
}
p, span, table, td, div, img {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: Arial;
}
.print_body {
    background:#fff;
    text-align:center;
    margin:0;
    padding:0;
}

.rep-table {
    border-collapse:collapse;
    margin:0;
    width:100%;
}

.tntable {
    margin:0;
    width:100%;
}

.tntable td {
    margin:0;
    vertical-align:bottom;
    padding:2px 3px 1px 2px;
}

.rep-cell {
    margin:0;
    padding:2px 3px 1px 1px;
    vertical-align:middle;
    word-wrap:break-word;
    text-align:center;
}

thead .rep-cell {
    font-weight:normal;
    text-align:center !important;
    vertical-align:middle;
}

.rep-border {
    border:1px solid #333;
    padding-left:3px;
}

.rep-brd {
    border:solid #333;
}

.rep-text {
    font-size:10pt;
    font-family:Arial;
    line-height:125%;
    margin:2px 0 2px 0;
}

.rep-text7 {
    font-size:7pt !important;
    font-family:Arial;
    line-height:100%;
    margin:0;
}

thead .rep-text {
    font-family:Tahoma;
    font-size:8pt !important;
}

.align-right {
    text-align:right !important;
}

.align-left {
    text-align:left !important;
}

.align-center {
    text-align:center !important;
}

.v-mid {
    vertical-align:middle !important;
}

.schet_hdr {
    margin:10px 0 10px 0;
    font-size:17pt;
    color:#000;
    text-align:center;
    font-weight:bold;
}

.wpbr {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

.nobr {
    word-wrap: normal;
    white-space: nowrap;
}

@media screen{
    .print_cont {
        text-align:left;
        margin:10px 0 10px 20px;
        padding:0;
    }
    .print_div {
        margin:0;
        padding:10px;
        width:175mm;
        min-height:248mm;
        text-align:left;
        color:#000000;
        border:1px dashed #cfcfcf;
        position:relative;
    }
    .print_div_v {
        margin:0;
        padding:10px;
        width:248mm;
        min-height:175mm;
        text-align:left;
        color:#000000;
        border:1px dashed #cfcfcf;
        position:relative;
    }
    #nav {
        position:fixed;
        left:190mm; top:10px;
        width:170px;
        z-index:1000;
        border:1px dashed #cfcfcf;
        padding:10px 0 20px 20px;
        font-size:10pt;
    }
    #nav_v {
        background:rgba(255,255,255,0.85);
        position:fixed;
        left:100%; top:10px;
        margin-left:-200px;
        width:170px;
        z-index:1000;
        border:1px dashed #cfcfcf;
        padding:20px 0 20px 20px;
        font-size:10pt;
    }
    #fast_link {
        margin:5px 0 -5px 20px;
        font-family:Tahoma;
        font-size:11pt;
        color:#555555;
        text-align:left;
    }
}

@media print{
    .print_cont {
        padding:0;
        margin:0;
        text-align:center;
    }
    .print_div, .print_div_v {
        width:100%;
        text-align:left;
        color:#000000;
        position:relative;
        page-break-after:always;
    }
    
    #nav, #nav_v, #fast_link {
        display:none;
    }
}

.pdf_div {
        margin:0;
        padding:0 20px 0 0;
        text-align:left;
        color:#000000;
        position:relative;
}

.page_break {
    page-break-after:always;
}

#stamp_p {
    position:absolute;
    left:125mm; top:-22mm;
    z-index:-100;
}

#sign1_p {
    position:absolute;
    left:65mm; top:-8mm;
    z-index:-101;
}

#sign2_p {
    position:absolute;
    left:65mm; top:9mm;
    z-index:-102;
}

#sign3_p {
    position:absolute;
    left:65mm; top:9mm;
    z-index:-102;
}

#sign4_p {
    position:absolute;
    left:65mm; top:9mm;
    z-index:-102;
}

#stamp_img, #sign1_img, #sign2_img, #sign3_img, #sign4_img {
    position:absolute;
    left:0px; top:0px;
    height:auto;
    border:none;
}

#hdr_l {
    margin:0 0 20px 0;
    font-weight:bold;
    line-height:200%;
    float:left;
}

#hdr_r {
    float:right;
}

#logo_div_r {
    float:right;
    text-align:right;
    max-height: 100px;
    overflow:hidden;
}

#logo_div_l {
    float:left;
    text-align:left;
    max-height: 100px;
    overflow:hidden;
}

.logo_r {
    position:relative;
    width:200px;
    overflow:hidden;
    text-align:right;
}

.logo_l {
    position:relative;
    width:200px;
    overflow:hidden;
    text-align:left;
}

.logo_r img, .logo_l img {
    max-width:100% !important;
    max-height: 100px;
    height:auto !important;
}

.sf_h_line {
    clear:both;
    font-family:Arial;
    font-size:8pt;
    color:#000;
    width:100%;
    line-height:125%;
    padding:5px 0 0 0;
}

.sf_h_title {
    margin-right:10px;
    float:left;
    font-family:Arial;
    font-size:8pt;
    color:#000;
    line-height:125%;
}

.sf_h_value {
    float:left;
    font-family:Arial;
    font-size:8pt;
    color:#000;
    line-height:125%;
    border:solid #333;
    border-width:0 0 1px 0;
}

.mini_font {
    font-size:8pt !important;
}

.hd_print_adv {
    width:670px;
    padding:2px 5px 5px 5px;
    background:#ff9900;
    font-size:10pt;
}

.hd_print_adv a, .hd_print_adv a:hover, .hd_print_adv a:link, .hd_print_adv a:visited, .hd_print_adv a:active {
    color:#fff;
    font-weight:bold;
}

.hd_print_adv a:hover {
    color:#ffefef;
    font-weight:bold;
}

.stinfo {
  margin:10px 10px 0 0;
  font-size:9pt;
  text-align:center;
  line-height:125%;
}

.print_link {
    margin:0 0 15px 0;
    font-weight:bold;
    color:#0077cc;
    font-family:Helvetica;
    font-size:21px;
    line-height:125%;
}